.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.box{
    width: 300px;
    height: 300px;
    background-color: rgb(181, 181, 248);
    border: solid black 2px; 
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    transition: all 3s linear 1s;
}

p{
    font-size: 36px;
}

.box:hover{
    /* transform: rotate(360deg); */

    /* transform: scale(2); */
    /* transform: scale(0.5); */

    /* transform: skew(45deg); */

    /* transform: translate(500px, 500px); */

    transform: scaleY(0.5);
    transform: skewY(45deg);


}