*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(145, 125, 125);
    display: grid;
    gap: 20px;
    padding: 75px;
    /* grid-template-rows: 100px 100px; */
   
    font-size: 30px;
   


}

.item{
    border: 2px solid black;
    background-color: rgb(197, 197, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width:768px){
    .Header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(99, 255, 177);
    font-weight: bold;
}

.sitebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
 .footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aquamarine;
 }
 .content{
    grid-column-start: 2;
    grid-column-end: 4;
 }


}

.Header{
  
    background-color: rgb(99, 255, 177);
    font-weight: bold;
}
 .footer{
   
    background-color: aquamarine;
 }


