#Fdiv{
background-color: red;
padding: 3rem;
}

#Fpara{
    background-color: green;
    padding: 1rem;
}

#Sdiv{
    background-color: yellow;
    padding: 1.2rem;

}

#Spara{
    background-color: blue;
    padding: 0.8rem;
}