*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100%;
    overflow-x: none;
    background-color: rgba(0, 0, 0, 0.301);
}

nav{
    width: 100%;
    position: relative;
    
}
.Navcontainer{
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);    min-height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#Navlist{
    width: 100%;
    padding: 15px ;
    list-style: none;
    
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
   
}
#logo{
    font-size: 32px;
    color: aliceblue;
}
#button{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
}
.footer{
    /* width: 100%; */
    min-height: 25px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.521);
    color: aliceblue;
}

main{
    padding: 19px;
}
.contentbox{
    width: 70%;
    margin: auto;
    border: 0px solid black;
    background-color: aliceblue ;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 80px;
    
}
.item{
    margin: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.5s linear 0s;
    box-shadow: 0px 0px 30px green;
}

.rightbox img{
    height: 300px;
    border-radius: 10px;
    transition:all 0.5s linear 0s;
}

.rightbox:hover{
    transform: scale(1.2);

}

.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.leftbox h2{
    font-size: 30px;
}

.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.493);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.rightbox .overlay:hover{
    opacity: 1;
}

.rightbox .overlay span{
    color: aliceblue;
}